.footer {
    
  height: 100%;
  width: 100%;
  background: #fff;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  .button-dark {
    height: 40px;
    margin-right: 15px;
  }

}