<div class="menu">
	<div class="logo">
		<img src="assets/logo.png" alt="">
	</div>
	<div class="navigation">
		<div class="icons">
			<img src="" alt="">
		</div>
		<div class="icons"> 
      <fa-icon class="icons" [icon]="faSearch"></fa-icon>
		</div>
		<div class="icons">
      <fa-icon class="icons" [icon]="faStar"></fa-icon>
		</div>
		<div class="icons">
      <fa-icon class="icons" [icon]="faCommentAlt"></fa-icon>
		</div>
		<div class="icons">
      <fa-icon class="icons" [icon]="faClipboard"></fa-icon>
		</div>
		<div class="icons">
      <fa-icon class="icons" [icon]="faHouse"></fa-icon>
		</div>
	</div>
</div>